.grid-container {
  padding: 10px 0;
  background: #45dde0;
  background: #fff;
  border-radius: 4px;
}

.grid-row {
  margin: 0 10px;
}

.grid-row:after {
  content: "";
  display: table;
  clear: both;
}

/*future dates*/
.grid-box {
  width: 55px;
  height: 50px;
  float: left;
  border-radius: 2px;
  background: #54dbdd;
  margin: 3px;
  position: relative;
  color: #00989b;
}

.grid-box.is-today {
  background: #00989b;
  color: #54dbdd;
  cursor: pointer;
  /*border: 1px solid green;*/
}

/*past, not done*/
.grid-box.is-past {
  background: #f79d65;
  color: #913e0b;
  cursor: pointer;
}

/*past, completed*/
.grid-box.is-past.is-completed {
  background: #0dab76;
  color: #005e3e;
  cursor: pointer;
}

.grid-date {
  font-size: 10.5px;
  position: absolute;
  bottom: -1px;
  left: 6px;
  font-weight: 400;
}

.grid-x {
  margin-top: -7px;
  stroke: #005e3e;
  fill: transparent;
  stroke-linecap: round;
  stroke-width: 3;
}

.grid-box.is-today .grid-x {
  stroke: #54dbdd;
}
