.grid-container {
  /*border: 2px solid #634B66;*/
  padding: 10px 0;
  background: #45DDE0;
  background: #fff;
  border-radius: 4px;
}

.grid-row {
  margin: 0 10px;
}

.grid-row:after {
  content: "";
  display: table;
  clear: both;
}

/*future dates*/
.grid-box {
  width: 55px;
  height: 50px;
  float: left;
  /*border: 1px solid #634B66;*/
  border-radius: 2px;
  background: #54DBDD;
  margin: 3px;
  position: relative;
  color: #00989B;
}

.grid-box.is-today {
  background: #00989B;
  color: #54DBDD;
  cursor: pointer;
  /*border: 1px solid green;*/
}

/*past, not done*/
.grid-box.is-past {
  background: #F79D65;
  color: #913E0B;
  cursor: pointer;
}

/*past, completed*/
.grid-box.is-past.is-completed {
  background: #0DAB76;
  color: #005E3E;
  cursor: pointer;
}

.grid-date {
  font-size: 10.5px;
  position: absolute;
  bottom: -1px;
  left: 6px;
  font-weight: 400;
}

.grid-x {
  margin-top: -7px;
  stroke: #005E3E;
  fill: transparent;
  stroke-linecap: round;
  stroke-width: 3;
}

.grid-box.is-today .grid-x {
  stroke: #54DBDD;
}
