.block-form-el {
  display: block;
  width: 100%;
}

.form-label,
.form-title {
  font-weight: 700;
  font-size: 18px;
  margin: 10px 0;
}

.form-input {
  font-size: 18px;
  margin: 10px 0 20px 0;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(100, 100, 100, .075);
  border: 1px solid #fff;
}

.form-input.has-error {
  border: 1px solid #f79d65;
}

.form-input-with-button {
  margin-bottom: 4px;
}

.form-radio {
  display: block;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-label-radio {
  display: inline-block;
  width: 100%;
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer;
}

.form-radio input[type="radio"] {
  position: absolute;
  margin-left: -20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.pull-right {
  float: right;
}

.button {
  font-size: 20px;
  padding: 10px 15px;
  cursor: pointer;
  background: #32a287;
  color: #fff;
  border-radius: 3px;
  border: 0px solid #fff;
}

.button-small {
  font-size: 14px;
  padding: 4px 8px;
  margin-bottom: 20px;
}

.button:hover {
  transition: all 300ms;
  background: #2a8973;
}

.delete-grid-container {
  text-align: center;
  margin: 0 auto;
  font-size: 12px;
}

.delete-grid-icon {
  cursor: pointer;
  display: inline-block;
  padding: 4px 10px;
  line-height: 1.1;
  font-size: 20px;
  font-weight: 300;
  background: #074444;
  color: #0b7171;
  border-radius: 20px;
}

.delete-grid-icon:hover {
  transition: all 300ms;
  background: #095c5c;
}

.delete-grid-text {
  margin-top: 5px;
  color: #074444;
}
