.notes-container {
  padding: 20px 0;
}

.note {
  padding: 10px 15px;
  position: relative;
}

.note:nth-child(odd) {
  background: #128587;
  border-radius: 3px;
}

.delete-trigger {
  position: absolute;
  padding: 0px 5px;
  right: 0px;
  top: 0px;
  color: #074444;
  border-radius: 3px;
  cursor: pointer;
  line-height: 1.2;
}
